.email-regist-card {
    background-color: #ffffff;
    padding: 32px 24px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    max-width: 650px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: 1px solid #E5E5E5;
}

.subtitle {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 14px;
    color: #042356;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 16px;
}

.input-label {
    margin-bottom: 6px;
}

.custom-input {
    background-color: #f7f9fa;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding-left: 36px; /* アイコンのスペース */
    height: 44px;
}

.custom-input:focus {
    border-color: #001a4d;
    box-shadow: 0 0 3px #001a4d;
}

.email-regist-button {
    width: 100%;
    background-color: #FF5924; /* 濃紺色 */
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.custom-login-button:hover {
    background-color: #001133;
}

.error-text {
    color: #d93233;
    font-size: 12px;
    text-align: center;
}

.input-label {
    margin-bottom: 6px;
}

.regist-merit-link {
    font-size: 14px;
    text-decoration: underline;
    color: #042356;
    text-decoration: none;
    display: inline-block;
    margin-top: 8px;
}

.regist-merit-link:hover {
    text-decoration: underline;
}